.profile-main {
  min-height: calc(100vh - 150px);
  padding: 20px 0 60px;

  background-color: #12002b;
}

.profile-header {
  margin-bottom: 35px;

  color: white;
  text-align: center;
}

.profile-header h1 {
  margin: 0 0 25px;

  font-size: 32px;
  line-height: 1.05;
}

.edit-button {
  padding: 10px 14px;

  border: 1px solid #00bc77;

  background-color: #00bc77;
  color: white;

  font-weight: bold;

  cursor: pointer;
}

.edit-form {
  display: flex;
  justify-content: center;
  gap: 10px;

  margin: 20px auto;
}

.edit-form input {
  padding: 8px;

  font-size: 16px;
}

.edit-form button {
  padding: 8px 15px;

  border: 1px solid #00bc77;

  background-color: white;
  color: #00bc77;

  font-weight: bold;

  cursor: pointer;
}

.accounts-container {
  width: 80%;
  margin: 0 auto;
}

.account {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 100%;

  margin-bottom: 30px;
  padding: 24px;

  border: 1px solid black;

  background-color: white;

  color: #2c3e50;
}

.account-content-wrapper {
  text-align: left;
}

.account-title {
  margin: 0;
  padding: 0;

  font-size: 16px;
  font-weight: normal;
}

.account-amount {
  margin: 0;

  font-size: 40px;
  font-weight: bold;
}

.account-amount-description {
  margin: 0;
}

.cta {
  width: 200px;
}

.transaction-button {
  width: 100%;
  padding: 10px;

  border: 1px solid #00bc77;

  background-color: #00bc77;
  color: white;

  font-size: 16px;
  font-weight: bold;

  cursor: pointer;
}

.profile-error {
  color: white;
  text-align: center;
}

.status {
  color: white;
  text-align: center;
}

@media (max-width: 720px) {
  .accounts-container {
    width: 90%;
  }

  .account {
    flex-direction: column;
    align-items: flex-start;
  }

  .cta {
    width: 100%;
    margin-top: 20px;
  }

  .transaction-button {
    width: 100%;
  }

  .account-amount {
    font-size: 32px;
  }
}